<mat-card class="example-card">

<p>Hi From {{ message$ | async }}</p>

<button  mat-raised-button (click)="tamilLang()" color="primary"> Tamil </button>
<button  mat-raised-button (click)="hindiLang()" color="primary"> Hindi </button>
<button  mat-raised-button (click)="englishLang()" color="primary"> English </button>


<hr>

<div *ngIf="post$ | async as post">
    <h3>{{ post.title }}</h3>
    <p>Votes: {{ post.likes }}</p>

    <button  mat-raised-button (click)="upvote()" color="primary">Upvote</button>
    <button  mat-raised-button (click)="downvote()" color="primary">Downvote</button>
    <button  mat-raised-button (click)="votereset()" color="primary">Reset</button>
</div>

</mat-card>
